/////////////////////////////////////////////////////////////
//--(VARIABLES)-------------------------------------------//
///////////////////////////////////////////////////////////
:root {
  --ff-primary: 'Roboto', sans-serif;
  
  --fw-reg: 300;
  --fw-bold: 900;
  
  --clr-primary: #ffac41;
  --clr-secondary: #323232;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}